<?xml version="1.0"?>
<model>
  <name>person_walking</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Marina Kollmitz</name>
    <email>kollmitz@cs.uni-freiburg.de</email>
  </author>

  <description>
    Static patient model using the supplied standing-person MakeHuman mesh.
  </description>
</model>
