<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rgbd_camera" params="prefix">
    <link name="${prefix}camera_link"/>
    <link name="${prefix}camera_optical_frame"/>
    <joint name="${prefix}camera_joint" type="fixed">
      <parent link="${prefix}base_link"/><child link="${prefix}camera_link"/>
      <origin xyz="-0.5 0 0.6" rpy="0 -0.6981317 0"/>
    </joint>
    <!-- ROS optical frame: x right, y down, z forward. -->
    <joint name="${prefix}camera_optical_joint" type="fixed">
      <parent link="${prefix}camera_link"/><child link="${prefix}camera_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>
  </xacro:macro>
</robot>
